Build/CMakeFiles/*
Build/Makefile
Build/CMakeCache.txt
Build/bin/Urho3D.log
Build/*.cmake
*.bin
*.exe
Build/*.dll.a
Build/*.cbp
Build/*.layout
Build/bin/Data/
Build/bin/CoreData/
*.blend1
*.swp
*.swo
Clean/
bin/Urho3D.log
bin/Data/Shaders/HLSL/Cache/*
bin/CoreData/Shaders/HLSL/Cache/*
